name: CI Playground 1
run-name: Playground actions 1

on:
  workflow_dispatch:
    inputs:
      test:
        required: false
        type: choice
        options:
          - "test1"
          - "test2"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello world!
