name: CI Playground 2
run-name: Playground actions

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  job1:
    name: Say Hello
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello world!

  job2:
    name: Say Bye
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - run: echo Bye!
