name: CI Playground 2
run-name: Playground actions

on:
  workflow_dispatch:
    inputs:
      milestone:
        description: 'milestone'
        required: true
        type: string
  push:
    branches:
      - master
  schedule:
    # 1-6 (UTC)
    # 10-15 (JST)
    - cron: '0 1-6 * * *'

env:
  SERVER_ENV: staging

jobs:
  job1:
    name: Say Hello
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello world on ${{ env.SERVER_ENV }} !

  job2:
    name: Say Bye
    needs: [job1, job3]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - run: echo Bye!

  job3:
    name: Print context
    needs: job1
    runs-on: ubuntu-latest
    if: ${{ inputs.milestone }}
    steps:
      - name: print inputs context
        run: echo ${{ inputs.milestone }}

  ktlint:
    name: Check Ktlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ktlintCheck

  ktlintFormat:
    name: Execute ktlintFormat
    needs: ktlint
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ktlintFormat
