name: CI Playground 2
run-name: Playground actions

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  test01:
    name: Say Hello
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello world!

  test02:
    name: Say Bye
    needs: test01
    runs-on: ubuntu-latest
    steps:
      - run: echo Bye!
