name: CI Playground 1
run-name: Playground actions 1

on:
  workflow_dispatch:
    inputs:
      test:
        required: true
        type: choice
        options:
          - "test1"
          - "test2"
  push:
    branches:
      - master

jobs:
  parse_env_json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Set json content to context
        id: set_json_content
        run: |
          content=`cat ./env.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # echo "::set-output name=envJson::$content"
          echo "configJson=$content" >> $GITHUB_OUTPUT
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello world!
